{{ attach_library('bootstrap_barrio/breadcrumb') }}

{% if breadcrumb %}
  <nav role="navigation" aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        {% if loop.first %}
          <li class="breadcrumb-item">
            <a href="{{ item.url }}" title="{{ item.text }}"><i class="fas fa-home"></i></a>
          </li>
        {% else %}
          <li class="breadcrumb-item">
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="breadcrumb-item active">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %}
