{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(['nav', 'navbar-nav', 'navbar-sidebar', 'mb-2']) }}>
    {% else %}
      <ul class="menu-collapse collapse-level-{{ menu_level }} collapse">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          menu_level ? 'collapse-item' : 'nav-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active',
          item.below ? 'menu-item--menu-collapse',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {%
          set link_classes = [
            not menu_level ? 'nav-link',
            item.in_active_trail ? 'active',
            item.below ? 'dropdown-toggle',
          ]
        %}
        {% set menu_target_level =  menu_level + 1 %}
        {% if item.below %}
          {{ link(item.title, item.url, {'class': link_classes, 'data-toggle': 'collapse', 'data-target': '.collapse-level-' ~ menu_target_level}) }}
          {{ menus.menu_links(item.below, attributes, menu_target_level) }}
        {% else %}
          {{ link(item.title, item.url, {'class': link_classes}) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
