// Styling vars.
$bar-height: 35px;
$color-text: #333;
$color-text-secundari: lighten($color-text, 20%);
$color-edit-button: #757575;
$color-edit-button-text: #fff;
$bg-color: #F4F4F4;

// Import drupal components styles.
@import 'drupal/base';
@import 'drupal/alerts';
@import 'drupal/titles';
@import 'drupal/search';
@import 'drupal/menus';
@import 'drupal/form';
@import 'drupal/node';
@import 'drupal/node-edit';
@import 'drupal/views';
@import 'drupal/shs';
@import 'drupal/tabledrag';
@import 'drupal/chosen';
@import 'drupal/autocomplete-deluxe';
@import 'drupal/eu-cookie';