.hidden {
  display: none !important;
}

.alert-wrapper {
  z-index: 10 !important;
}

.highlighted .alert {
  margin-bottom: 0;
  border-radius: 0;
}

#page .alert-wrapper {
  position: relative;
  overflow: auto;
}

#region-header-wrapper h1, #region-header-wrapper h2 {
  display: none;
}

#region-header-wrapper .block-search-form-block .content,
#region-footer-wrapper .block-search-form-block .content {
  height: 35px;
}
#region-header-wrapper #search-block-form,
#region-footer-wrapper #search-block-form {
  padding: 0 15px;
  margin: 0;
  height: 35px;
}
#region-header-wrapper #search-block-form .form-group,
#region-footer-wrapper #search-block-form .form-group {
  margin-bottom: 0;
}
#region-header-wrapper #search-block-form .form-submit,
#region-footer-wrapper #search-block-form .form-submit {
  color: transparent;
  border: 0;
  padding: 0;
  width: 1rem;
}
#region-header-wrapper #search-block-form .form-submit::before,
#region-footer-wrapper #search-block-form .form-submit::before {
  color: #666666;
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-weight: 900;
}

#content .search-form .form-group {
  padding-left: 0;
}
#content .search-help-link {
  display: none;
}
#content .search-advanced,
#content .node_search-results,
#content .user_search-results {
  margin-bottom: 1rem;
}
#content .search-advanced .details-wrapper {
  padding: 1rem;
  background-color: #F4F4F4;
  border-radius: 3px;
}
#content .search-advanced .details-wrapper legend {
  font-size: 1.2rem;
}
#content .search-advanced .details-wrapper .form-group {
  margin-bottom: 0.25rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #007bff;
}

.navbar-diba-fw .dropdown-menu {
  border-right: 0;
}

#region-sup-wrapper {
  overflow: visible !important;
}
#region-sup-wrapper .nav-link {
  padding: 0 1rem;
  height: 35px;
}
#region-sup-wrapper .btn {
  color: #333;
}
#region-sup-wrapper .sup-col-item {
  line-height: 35px;
}
#region-sup-wrapper .form-group {
  padding: 0;
  margin: 0;
  display: inline-block;
}
#region-sup-wrapper p {
  margin-bottom: 0;
}
#region-sup-wrapper select, #region-sup-wrapper input {
  height: 35px;
  border: 0;
  border-radius: 0;
  background: transparent;
  font-size: 14px;
}
#region-sup-wrapper .block-masquerade form > .container-inline {
  display: flex;
}

@media (max-width: 992px) {
  #region-sup-wrapper .sup-col-item {
    margin: auto !important;
    border-left: 0;
  }
}
#region-primary-menu-wrapper nav,
#region-secondary-menu-wrapper nav {
  width: 100%;
}

#region-footer-wrapper .nav-link {
  width: 100%;
}

.form-text.form-control {
  margin-top: 0;
}

#region-content-wrapper img {
  max-width: 100%;
}

.content .links-inline > .nav-link {
  padding: 0.5rem 1rem 0.5rem 0;
}
.content .views-element-container {
  padding: 0;
}
.content .table-responsive.col {
  padding-left: 0;
  padding-right: 0;
}
.content .row > .table-responsive.col {
  padding-left: 15px;
  padding-right: 15px;
}
.content .file {
  padding: 0 10px;
}

.vertical-tabs {
  border-radius: 3px;
}
.vertical-tabs .details-wrapper {
  padding-top: 1rem;
}
.vertical-tabs .vertical-tabs__menu {
  border-top: 0;
}

.region nav.tabs {
  margin-top: 10px;
  margin-bottom: 10px;
}
.region nav.tabs li.active {
  font-weight: bold;
}

.confirmation .form-actions {
  display: inline-flex;
}
.confirmation .form-actions .button {
  margin: auto;
  margin-right: 1rem;
}

.layout-region details,
.layout-region fieldset.field-group-fieldset {
  padding: 10px !important;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.layout-region table .field-label > .label {
  margin: 0 !important;
  color: #fff !important;
  font-size: 1rem !important;
}
.layout-region .image-widget-data,
.layout-region .form-actions {
  display: inline-flex;
}
.layout-region legend {
  font-size: 1.2rem;
}
.layout-region .form-select {
  min-width: 55px;
}
.layout-region .form-group {
  padding: 0;
}
.layout-region .description {
  display: block;
}
.layout-region button,
.layout-region .button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
}
.layout-region .filter-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  border-radius: 0 0 3px 3px;
}
.layout-region .filter-help {
  padding-left: 0.5rem;
  text-align: right;
}
.layout-region .filter-guidelines .tips {
  margin-left: 1rem;
  font-size: 0.9rem;
}
.layout-region .image-widget-data > .file-size {
  padding: 0 0.5rem;
}
.layout-region .form-type-managed-file label {
  display: block;
}
.layout-region .form-type-managed-file .button {
  width: auto;
}
.layout-region .form-type-managed-file .file-size,
.layout-region .form-type-managed-file .file,
.layout-region .form-type-managed-file .button {
  margin: auto;
}

.layout-region-node-footer .button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.layout-region-node-secondary .entity-meta {
  padding-right: 0;
  padding-left: 0;
}
.layout-region-node-secondary .vertical-tabs {
  font-size: 1rem;
}

.layout-region-node-main details {
  background-color: #f7f7f7;
}
.layout-region-node-main details > summary {
  font-weight: bold;
}
.layout-region-node-main details > .details-wrapper {
  border-top: solid 1px #ccc;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.views-exposed-form .form-row > .form-group {
  margin-bottom: 0;
}
.views-exposed-form .form-row > .form-group label {
  margin-bottom: 0;
}

.shs-container .shs-select {
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.shs-container .form-control.hidden {
  display: none;
}
.shs-container .shs-field-container {
  margin-bottom: 0;
}
.shs-container .button {
  color: #fff !important;
  background-color: #757575;
}
.shs-container .button:hover {
  cursor: pointer;
}
.shs-container .add-another {
  margin-bottom: 1rem;
}

.draggable a.tabledrag-handle {
  padding-left: 3px;
  margin-right: 3px;
}
.draggable a.tabledrag-handle .handle {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  background-position: 0;
}

.tabledrag-toggle-weight {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #fff !important;
  background-color: #757575;
  border: 0;
}

.chosen-container.form-select {
  padding: 0;
  border: 0;
}
.chosen-container.form-control {
  display: block !important;
}
.chosen-container .chosen-single,
.chosen-container .chosen-choices {
  height: 33px;
  line-height: 33px;
  border-radius: 3px;
  background: transparent !important;
  border-color: #d0d0d0;
  box-shadow: none;
}
.chosen-container .chosen-single {
  padding-left: 15px;
}
.chosen-container .chosen-drop {
  margin-top: -3px !important;
}
.chosen-container.chosen-container-single .chosen-single div {
  top: 5px;
}

.autocomplete-deluxe-container {
  display: block !important;
  border-radius: 0.25rem;
}
.autocomplete-deluxe-container .autocomplete-deluxe-throbber {
  margin-top: -2rem;
}
.autocomplete-deluxe-container .autocomplete-deluxe-form-single {
  width: 100% !important;
}
.autocomplete-deluxe-container .autocomplete-deluxe-multiple {
  height: 1.5rem;
}
.autocomplete-deluxe-container .autocomplete-deluxe-form {
  padding: 4px 20px 4px 10px !important;
}

.eu-cookie-compliance-banner {
  border-top: 2px solid;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-message h1 h1, .eu-cookie-compliance-banner .eu-cookie-compliance-message h1 h2,
.eu-cookie-compliance-banner .eu-cookie-compliance-message h2 h1,
.eu-cookie-compliance-banner .eu-cookie-compliance-message h2 h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-message h1 p,
.eu-cookie-compliance-banner .eu-cookie-compliance-message h2 p {
  font-weight: normal;
  font-size: 1rem;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-content {
  padding-top: 0.5rem;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-content ul li {
  padding: 0 0 5px;
  line-height: 1.7em;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons button {
  padding: 0.4rem 1rem;
  border-radius: 3px;
  font-weight: normal;
  text-shadow: none;
  box-shadow: none;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons .agree-button {
  background-color: #891536;
  border-color: #5d0e25;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons .agree-button:hover {
  background-color: #5d0e25;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons .decline-button {
  background-color: #fff;
  border-color: #ccc;
  background-image: none;
}
.eu-cookie-compliance-banner .eu-cookie-compliance-buttons .decline-button:hover {
  background-color: #eee;
}

/*# sourceMappingURL=diba_core.css.map */
