.autocomplete-deluxe-container {
  display: block !important;
  border-radius: .25rem;

  .autocomplete-deluxe-throbber {
    margin-top: -2rem;
  }
  .autocomplete-deluxe-form-single {
    width: 100% !important;
  }
  .autocomplete-deluxe-multiple {
    height: 1.5rem;
  }
  .autocomplete-deluxe-form {
    padding: 4px 20px 4px 10px !important;
  }
}
