.chosen-container {
  &.form-select {
    padding: 0;
    border: 0;
  }
  &.form-control {
    display: block !important;
  }
  .chosen-single,
  .chosen-choices {
    height: 33px;
    line-height: 33px;
    border-radius: 3px;
    background: transparent !important;
    border-color: #d0d0d0;
    box-shadow: none;
  }
  .chosen-single {
    padding-left: 15px;
  }
  .chosen-drop {
    margin-top: -3px !important;
  }
  &.chosen-container-single .chosen-single div {
    top: 5px;
  }
}

