.eu-cookie-compliance-banner {
    border-top: 2px solid;

    .eu-cookie-compliance-message h1,
    .eu-cookie-compliance-message h2 {
        h1, h2 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
        }

        p {
            font-weight: normal;
            font-size: 1rem;
        }
    }

    .eu-cookie-compliance-content {
        padding-top: 0.5rem;

        ul li {
            padding: 0 0 5px;
            line-height: 1.7em;
        }
    }

    .eu-cookie-compliance-buttons {
        button {
            padding: 0.4rem 1rem;
            border-radius: 3px;
            font-weight: normal;
            text-shadow: none;
            box-shadow: none;
        }
        .agree-button {
            background-color: #891536;
            border-color: #5d0e25;

            &:hover {
                background-color: darken(#891536, 10%);
            }
        }
        .decline-button {
            background-color: #fff;
            border-color: #ccc;
            background-image: none;

            &:hover {
                background-color: #eee;
            }
        }
    }
}

