.dropdown-item.active,
.dropdown-item:active {
  background-color: #007bff;
}

.navbar-diba-fw {
  .dropdown-menu {
    border-right: 0;
  }
}

#region-sup-wrapper {
  overflow: visible !important;

  .nav-link {
    padding: 0 1rem;
    height: $bar-height;
  }
  .btn {
    color: $color-text;
  }
  .sup-col-item {
    line-height: $bar-height;
  }
  .form-group {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  p {
    margin-bottom: 0;
  }
  select, input {
    height: $bar-height;
    border: 0;
    border-radius: 0;
    background: transparent;
    font-size: 14px;
  }
  .block-masquerade form>.container-inline {
    display: flex;
  }
}

@media (max-width: 992px) {
  #region-sup-wrapper {
    .sup-col-item {
      margin: auto !important;
      border-left: 0;
    }
  }
}

#region-primary-menu-wrapper,
#region-secondary-menu-wrapper {
  nav {
    width: 100%;
  }
}

#region-footer-wrapper {
  .nav-link {
    width: 100%;
  }
}
