#region-content-wrapper {
  img {
    max-width: 100%;
  }
}

.content {
  .links-inline > .nav-link {
    padding: .5rem 1rem .5rem 0;
  }
  .views-element-container {
    padding: 0;
  }
  .table-responsive.col {
    padding-left: 0;
    padding-right: 0;
  }
  .row > .table-responsive.col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .file {
    padding: 0 10px;
  }
}

.vertical-tabs {
  border-radius: 3px;

  .details-wrapper {
    padding-top: 1rem;
  }
  .vertical-tabs__menu {
    border-top: 0;
  }
}

.region nav.tabs {
  margin-top: 10px;
  margin-bottom: 10px;

  li.active {
    font-weight: bold;
  }
}

.confirmation {
  .form-actions {
    display: inline-flex;

    .button {
      margin: auto;
      margin-right: 1rem;
    }
  }
}
