.layout-region {

  details,
  fieldset.field-group-fieldset {
    padding: 10px !important;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  table .field-label > .label {
    margin: 0 !important;
    color: #fff !important;
    font-size: 1rem !important;
  }

  .image-widget-data,
  .form-actions {
    display: inline-flex;
  }

  legend {
    font-size: 1.2rem;
  }

  .form-select {
    min-width: 55px;
  }

  .form-group {
    padding: 0;
  }
  .description {
    display: block;
  }

  button,
  .button {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
  }

  .filter-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    border-radius: 0 0 3px 3px;
  }

  .filter-help {
    padding-left: .5rem;
    text-align: right;
  }

  .filter-guidelines .tips {
    margin-left: 1rem;
    font-size: .9rem;
  }

  .image-widget-data > .file-size {
    padding: 0 .5rem;
  }

  .form-type-managed-file {
    label {
      display: block;
    }
    .button {
      width: auto;
    }
    .file-size,
    .file,
    .button {
      margin: auto;
    }
  }
}

.layout-region-node-footer .button {
  margin-top: .5rem;
  margin-right: .5rem;
}

.layout-region-node-secondary  {
  .entity-meta {
    padding-right: 0;
    padding-left: 0;
  }

  .vertical-tabs {
    font-size: 1rem;
  }
}

.layout-region-node-main {
  details {
    background-color: #f7f7f7;

    & > summary {
      font-weight: bold;
    }

    & > .details-wrapper {
      border-top: solid 1px #ccc;
      padding-top: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}
