#region-header-wrapper,
#region-footer-wrapper {

  .block-search-form-block {
    .content {
      height: $bar-height;
    }
  }

  #search-block-form {
    padding: 0 15px;
    margin: 0;
    height: $bar-height;

    .form-group {
      margin-bottom: 0;
    }

    .form-submit {
      color: transparent;
      border: 0;
      padding: 0;
      width: 1rem;
    }

    .form-submit::before {
      color: $color-text-secundari;
      font-family: "Font Awesome 5 Free";
      content: "\f002";
      font-weight: 900;
    }
  }

}

#content {

  .search-form .form-group {
    padding-left: 0;
  }

  .search-help-link {
    display: none;
  }

  .search-advanced,
  .node_search-results,
  .user_search-results {
    margin-bottom: 1rem;
  }

  .search-advanced .details-wrapper {
    padding: 1rem;
    background-color: $bg-color;
    border-radius: 3px;

    legend {
      font-size: 1.2rem;
    }

    .form-group {
      margin-bottom: .25rem;
    }
  }

}
