.shs-container {
  .shs-select {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-control.hidden {
    display: none;
  }

  .shs-field-container {
    margin-bottom: 0;
  }

  .button {
    color: $color-edit-button-text !important;
    background-color: $color-edit-button;

    &:hover {
      cursor: pointer;
    }
  }
  .add-another {
    margin-bottom: 1rem;
  }
}
