.draggable {
  a.tabledrag-handle {
    padding-left: 3px;
    margin-right: 3px;

    .handle {
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      background-position: 0;
    }
  }
}

.tabledrag-toggle-weight {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: $color-edit-button-text !important;
  background-color: $color-edit-button;
  border: 0;
}
