<div id="page-wrapper">
  <div class="{{ container }}" id="page">
    <header id="region-header-wrapper" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
      {% block head %}
        {% if page.top_left or page.top_right_first or page.top_right_second or page.top_right_last %}
          <nav id="region-sup-wrapper" class="p-0 navbar navbar-expand{% if diba_core_top_navbar %}-lg{% endif %}">
            {% if diba_core_top_navbar %}
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-sub-content" aria-controls="navbar-sub-content" aria-expanded="false" aria-label="{{ 'Toggle navigation'|t }}">
                <i class="fas fa-bars"></i>
              </button>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbar-sub-content">
              <div class="row m-0 w-100">
                {% if page.top_left %}
                  <div class="{{ top_left_class }} sup-col-item pl-0" id="region-top-left-wrapper">
                    {{ page.top_left }}
                  </div>
                {% endif %}
                {% if page.top_right_first %}
                  <div class="{{ top_right_first_class }} sup-col-item" id="region-top-right-first-wrapper">
                    {{ page.top_right_first }}
                  </div>
                {% endif %}
                {% if page.top_right_search %}
                  <div class="{{ top_right_search_class }} sup-col-item px-0" id="region-top-right-search-wrapper">
                    {{ page.top_right_search }}
                  </div>
                {% endif %}
                {% if page.top_right_second %}
                  <div class="{{ top_right_second_class }} sup-col-item" id="region-top-right-second-wrapper">
                    {{ page.top_right_second }}
                  </div>
                {% endif %}
                {% if page.top_right_last %}
                  <div class="{{ top_right_last_class }} sup-col-item pr-0" id="region-top-right-last-wrapper">
                    {{ page.top_right_last }}
                  </div>
                {% endif %}
              </div>
            </div>
          </nav>
        {% endif  %}

        <div id="region-brand-wrapper">
          <div class="row pt-2 pb-2 d-flex align-items-center">
            {% if diba_core_logo_left_show %}
              <div class="col">
                {{ diba_core_logo_left_top|raw }}
              </div>
            {% endif %}
            {% if diba_core_logo_right_show %}
              <div class="{% if diba_core_logo_left_show %}col-auto{% else %}col{% endif %}">
                {{ diba_core_logo_right_top|raw }}
              </div>
            {% endif %}
          </div>
        </div>

        {% if page.primary_menu %}
          <nav id="region-primary-menu-wrapper" class="navbar navbar-diba w-100 navbar-expand-lg nav-justified">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary-menu" aria-controls="navbar-primary-menu" aria-expanded="false" aria-label="{{ 'Toggle navigation'|t }}">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-primary-menu">
              {{ page.primary_menu }}
            </div>
          </nav>
        {% endif %}

        {% if page.header %}
          <div id="region-header-inner-wrapper">
            {{ page.header }}
          </div>
        {% endif %}

        {% if page.secondary_menu %}
          <nav id="region-secondary-menu-wrapper" class="navbar navbar-diba w-100 navbar-dark bg-dark navbar-expand-lg nav-justified">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-secondary-menu" aria-controls="navbar-secondary-menu" aria-expanded="false" aria-label="{{ 'Toggle navigation'|t }}">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-secondary-menu">
              {{ page.secondary_menu }}
            </div>
          </nav>
        {% endif %}

      {% endblock %}
    </header>
    <main>
      {% block featured %}
        {% if page.highlighted %}
          <div class="highlighted" id="region-highlighted-wrapper">
            <aside class="section clearfix" role="complementary">
              {{ page.highlighted }}
            </aside>
          </div>
        {% endif %}
      {% endblock %}
      <div id="region-content-wrapper" class="{{ content_wrapper_class }}">
        <div class="row">
          {% if page.sidebar_left %}
            <div id="region-sidebar-left-wrapper" class="{{ col_left }}">
              {{ page.sidebar_left }}
            </div>
          {% endif %}
          {% block content %}
            <div id="main" class="{{ col_content }}">
              {% if diba_core_show_breadcrumb %}
                {{ page.breadcrumb }}
              {% endif %}
              <div{{ content_attributes }}>
                <section class="section">
                  {{ page.pre_content }}
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                  {{ page.post_content }}
                </section>
              </div>
            </div>
          {% endblock %}
          {% if page.sidebar_right1 or page.sidebar_right2 or page.sidebar_right_double %}
            <div id="region-sidebar-right-wrapper" class="{{ col_right }}">
              <div class="row">
                {% if page.sidebar_right1 %}
                  <div id="region-sidebar-right1-wrapper" class="{{ col_inner_sidebars }}">
                    {{ page.sidebar_right1 }}
                  </div>
                {% endif %}
                {% if page.sidebar_right2 %}
                  <div id="region-sidebar-right2-wrapper" class="{{ col_inner_sidebars }}">
                    {{ page.sidebar_right2 }}
                  </div>
                {% endif %}
              </div>
              <div class="row">
                {% if page.sidebar_right_double %}
                  <div id="region-sidebar-right-double-wrapper" class="col-12">
                    {{ page.sidebar_right_double }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </main>
    <footer id="region-footer-wrapper" class="mt-3">
      {% block footer %}
        <div class="row p-3">
          {% if page.footer_logo1 or (diba_core_logo_left_show and diba_core_logo_left_bottom) %}
            <div id="region-footer-firts-wrapper" class="col-sm-4">
              {{ diba_core_logo_left_bottom|raw }}
              {{ page.footer_logo1 }}
            </div>
          {% endif %}
          {% if page.footer_second %}
            <div id="region-footer-second-wrapper" class="{{ footer_cols }}">
              {{ page.footer_second }}
            </div>
          {% endif %}
          {% if page.footer_third %}
            <div id="region-footer-third-wrapper" class="{{ footer_cols }}">
              {{ page.footer_third }}
            </div>
          {% endif %}
        </div>
        <div class="row p-3">
          {% if page.footer_logo2 or (diba_core_logo_right_show and diba_core_logo_right_bottom) %}
            <div id="region-footer-bottom-first-wrapper" class="col-sm-4">
              <div class="border-top pt-2 pb-2">
                {{ diba_core_logo_right_bottom|raw }}
                {{ page.footer_logo2 }}
              </div>
            </div>
          {% endif %}
          {% if page.footer_credits or diba_core_networks_show %}
            <div id="region-footer-bottom-second-wrapper" class="{{ credits_cols }}">
              {% if diba_core_networks_show %}
                {{ diba_core_networks|raw }}
              {% endif %}
              {% if page.footer_credits %}
                <div id="region-footer-credits-wrapper" class="border-top pt-2 pb-2 clearfix">
                  {{ page.footer_credits }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    </footer>
  </div>
</div>
